<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
  
  <div id="bio">
    <div id="bio-header">
      <p>City Agency</p>
      <h1><%= @agency.name %></h1>
    </div>
    
    <div id="bio-primary">
        <div class="section spotlight">
          <h2>Actions involving lobbyists</h2>
          <p>
            <strong><%= @agency.actions.select(&:administrative).count %></strong> Administrative
            <br />
            <strong><%= @agency.actions.select(&:legislative).count %></strong> Legislative
          </p>
        </div><!-- /.section -->
        
        <div class="section">
          <h2>Lobbyists seeking actions</h2>
          <table>
            <thead>
              <tr>
                <th>Lobbyist</th>
                <th title="Administrative actions">Admin.</th>
                <th title="Legislative actions">Leg.</th>
              </tr>
            </thead>
            <tbody>
              <% @lobbyist_actions.each do |lobbyist, actions| %>
              <tr>
                <td><a href="/lobbyists/<%= lobbyist.slug %>"><%= lobbyist.full_name %></a></td>
                <td><%= actions.group_by(&:administrative).count %></td>
                <td><%= actions.group_by(&:legislative).count %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.section -->
        
        <div class="section">
          <h2>Types of actions sought</h2>
          <table>
            <thead>
              <tr>
                <th>Action sought</th>
                <th>Lobbyist</th>
                <th>Client</th>
              </tr>
            </thead>
            <tbody>
              <% @purpose_actions.each do |action| %>
              <tr>
                <td><%= action.purpose %></td>
                <td><a href="/lobbyists/<%= action.lobbyist.slug %>"><%= action.lobbyist.full_name %></a></td>
                <td><a href="/clients/<%= action.client.slug %>"><%= action.client.name %></a></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.section -->

    </div>
    <div id="bio-secondary">
      <div id="map_canvas" style="border:1px solid #000; width: 222px; height: 222px;"></div>

      <script type="text/javascript">
        $(function(){
          defineMap(new google.maps.LatLng(41.37680856570233,-84.287109375));

          if (map != null)
            geocode("<%= @agency.address.full_address.gsub(/\/n/, ' ').gsub(/ /, '+') %>");
        });
      </script>

      <p><strong>Address on file:</strong></p>
      <p><%= @agency.address.full_address_formatted %></p>

      <h2>Agency description</h2>
      <p><%= @agency.description %></p>
    </div>
  </div>
  
  <div class="clear"></div>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
