<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <script type="text/javascript">
    $(function(){
      setBarWidthByNumber();
    
      $("#listing").dataTable({
        "aaSorting": [[0, "asc"]],
        "aoColumns": [
          null,
          { "sType": "num-html" }
        ],
        "bFilter": false,
        "bInfo": false,
        "bPaginate": false
      });
    });
  </script>
  
  <div class="clear"></div>
  
  <h1>Actions sought</h1>
  
  <table id="listing" class="listing">
    <thead>
      <tr>
        <th><span>Agency</span></th>
        <th><span>Lobbyist actions sought in 2010</span></th>
      </tr>
    </thead>
    <tbody>
      <% @agencies.each do |agency| %>
      <tr>
        <td><h3><a href="/agencies/<%= agency.slug %>"><%= agency.name %></a></h3></td>
        <td class="bar"><span><strong>To be added...</strong></span></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
