<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
  
  <div id="bio">
    <div id="bio-header">
      <p>City Agency</p>
      <h1><%= @agency.name %></h1>
      
      <% unless @agency.address.street == "" %>
      <div id="map_canvas" style="border:1px solid #000; width: 222px; height: 222px;"></div>

      <script type="text/javascript">
        $(function(){
          defineMap(new google.maps.LatLng(41.37680856570233,-84.287109375));

          if (map != null)
            geocode("<%= @agency.address.full_address.gsub(/\/n/, ' ').gsub(/ /, '+') %>");
        });
      </script>

      <p><strong>Address on file:</strong></p>
      <p><%= @agency.address.full_address_formatted %></p>
	  <% end %>
	  
	  <% unless @agency.description == "" %>	
        <h2>Agency description</h2>
        <p><%= @agency.description %></p>
      <% end %>
      
      <p><%= @actions.count %> <%= @actions.count == 1 ? " action" : " actions" %> by lobbyists
      	<br /> - <%= @actions.select(&:administrative).count %> administrative
        <br /> - <%= @actions.select(&:legislative).count %> legislative
      </p>

    </div>
    <hr />
    
    <script type="text/javascript">    
	    $(function(){
	      $("#action-table").dataTable({
	        "aoColumns": [
	          null,
	          null,
	          null,
	          { "bSearchable": false, "bSortable": false },
	          { "bSearchable": false, "bSortable": false }          
	        ],
	        "aaSorting": [[0, "asc"], [1, "asc"]],
	        "bFilter": true,
	        "bInfo": false,
	        "bPaginate": false
	      });
	    });
    </script>
    
    <h2>Actions</h2>
	<table id="action-table" class="datatable">
        <thead>
          <tr>
            <th>Purpose</th>
            <th>Lobbyist</th>
            <th>Client</th>
            <th title="Administrative actions">Admin.</th>
            <th title="Legislative actions">Leg.</th>
          </tr>
        </thead>
        <tbody>
        <% if @actions.empty? %>
          <tr><td colspan='3'>No actions found</td></tr>
        <% else %>
          <% @actions.each do |action| %>
          <tr>
          	<td><%= action.purpose %></td>
          	<td><a href='/lobbyists/<%= action.lobbyist.slug %>'><%= action.lobbyist.full_name %></a></td>
          	<td><a href='/clients/<%= action.client.slug %>'><%= action.client.name %></a></td>
          	<td><%= action.administrative %></td>
          	<td><%= action.legislative %></td>
          </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
  </div>
  
  <div class="clear"></div>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
