<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <script type="text/javascript">
    $(function(){
      setBarWidthByCurrency();
    
      $("#listing").dataTable({
        "aaSorting": [[1, "desc"], [0, "asc"]],
        "aoColumns": [
          null,
          { "sSortDataType": "dom-text", "sType": "currency" }
        ],
        "bFilter": false,
        "bInfo": false,
        "bPaginate": false
      });
    });
  </script>

  <div class="clear"></div>
  
  <h1>Clients</h1>
  
  <table id="listing" class="listing">
    <thead>
      <tr>
        <th><span>Client</span></th>
        <th><span>Amount paid to lobbyists</span></th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |slug, name, pay| %>
      <tr>
        <td><h3><a href="/clients/<%= slug %>"><%= name %></a></h3></td>
        <td class="bar"><span><strong><%= number_to_currency pay %></strong></span></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
