<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
  
  <div id="bio">
    <div id="bio-header">
      <p>Client of lobbying firm</p>
      <h1><%= @client.name %></h1>
    </div>
    
    <div id="bio-primary">
    	<div class="section">
          <h2>2010 payments to lobbyists</h2>
          <p><strong class="total-paid"><%= number_to_currency @client.total_compensation %></strong></p>
        </div>
    
        <div class="section">
          <h2>Lobbyists hired</h2>
          <table>
            <thead>
              <tr>
                <th>Lobbyist</th>
                <th>Firm</th>
                <th title="Amount paid to lobbyist by <%= @client.name %>">Amount</th>
              </tr>
            </thead>
            <tbody>
            <% if @client.lobbyists.empty? %>
              <tr><td colspan='3'>No lobbyists found</td></tr>
            <% else %>
	            <% @client.lobbyists.each do |lobbyist| %>
	              <tr>
	              	<td><a href="/lobbyists/<%= lobbyist.slug %>"><%= lobbyist.full_name %></a></td>
		            <td><a href="/firms/<%= lobbyist.firms.first.slug %>"><%= lobbyist.firms.first.name %></a></td>
		            <td><%= number_to_currency lobbyist.compensations.sum(:compensation, {:client_id => @client.id}) %></td>
	              </tr>
	            <% end %>
            <% end %>
            </tbody>
          </table>
        </div><!-- /.section -->
        
        <!--<div class="section">
          <h2>Payments from city</h2>
          <table>
            <thead>
              <tr>
                <th>Department</th>
                <th>Amount</th>
                <th>Payment Date</th>
              </tr>
            </thead>
            <tbody>
              <% if @client.city_payments.empty? %>
              <tr>
                <td colspan="3">No payments found</td>
              </tr>
              <% else %>
                <% @client.city_payments.each do |city_payment| %>
              <tr>
                <td><%= city_payment.department_name.strip.length == 0 ? "Unknown" : city_payment.department_name %></td>
                <td><%= number_to_currency city_payment.amount %></td>
                <td><%= city_payment.check_date %></td>
              </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div> /.section -->
    </div>
    <div id="bio-secondary">
    </div>
  </div>
  
  <div class="clear"></div>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
