<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <script type="text/javascript">
    $(function(){
      setBarWidthByCurrency();
    
      $("#listing").dataTable({
        "aaSorting": [[1, "desc"], [0, "asc"]],
        "aoColumns": [
          null,
          { "sSortDataType": "dom-text", "sType": "currency" }
        ],
        "bFilter": false,
        "bInfo": false,
        "bPaginate": false
      });
    });
  </script>
  
  <div class="clear"></div>
  
  <h1>Lobbying firms</h1>
  
  <table id="listing" class="listing">
    <thead>
      <tr>
        <th><span>Firm</span></th>
        <th><span>Amount billed in 2010</span></th>
      </tr>
    </thead>
    <tbody>
      <% @firms.each do |firm| %>
      <tr>
        <td><h3><a href="/firms/<%= firm.slug %>"><%= firm.name %></a></h3></td>
        <td class="bar"><span style="width:100%;"><strong><%= number_to_currency(firm.sum) %></strong></span></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
