<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
  
  <div id="bio">
    <div id="bio-header">
      <p>Lobbying firm</p>
      <h1><%= @firm.name %></h1>
    </div>
    
    <div id="bio-primary">
        <div class="section">
          <h2>2010 billing</h2>
          <p><strong class="total-paid"><%= number_to_currency @firm.total_compensation %></strong></p>
        </div><!-- /.section -->
        
        <div class="section">
          <h2><%= @firm.lobbyists.count %> <%= @firm.lobbyists.count == 1 ? " lobbyist" : " lobbyists" %> employed</h2>
          <ul>
            <% @firm.lobbyists.each do |lobbyist| %>
            <li><a href="/lobbyists/<%= lobbyist.slug %>"><%= lobbyist.full_name %></a></li>
            <% end %>
          </ul>
        </div><!-- /.section -->
        
        <div class="section">
          <h2><%= @firm.clients.count %> <%= @firm.clients.count == 1 ? " client" : " clients" %></h2>
          <table>
            <thead>
              <tr>
                <th>Client</th>
                <th title="Amount paid to firm by client">Amount paid</th>
              </tr>
            </thead>
            <tbody>
            <% if @firm.clients.empty? %>
              <tr><td colspan='2'>No clients found</td></tr>
            <% else %>
              <% @firm.clients.each do |client| %>
              <tr>
              	<td><a href="/clients/<%= client.slug %>"><%= client.name %></a></td>
              	<%
              	client_sum = 0 
              	@firm.lobbyists.each do |lobbyist| 
              		client_sum += Integer(client.compensations.sum(:compensation, {:lobbyist_id => lobbyist.id}))
              	end %>
              	<td><%= number_to_currency client_sum %></td>
              	<% client_sum = 0 %>
              </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div><!-- /.section -->
        
        <div class="section">
          <h2><%= @actions.count %> <%= @actions.count == 1 ? " action" : " actions" %> sought</h2>
          <table>
            <thead>
              <tr>
                <th>Purpose</th>
                <th>Agency</th>
                <th>Client</th>
              </tr>
            </thead>
            <tbody>
            <tbody>
            <% if @actions.empty? %>
              <tr><td colspan='3'>No actions found</td></tr>
            <% else %>
              <% @actions.each do |action| %>
              <tr>
              	<td><%= action.purpose %></td>
              	<td><a href='/agencies/<%= action.agency.slug %>'><%= action.agency.name %></a></td>
              	<td><a href='/clients/<%= action.client.slug %>'><%= action.client.name %></a></td>
              </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div><!-- /.section -->

        <div class="section">
          <h2><%= @agency_actions.count %> government <%= @agency_actions.count == 1 ? " agency" : " agencies" %> lobbied</h2>
          <table>
            <thead>
              <tr>
                <th>Agency</th>
                <th title="Administrative actions">Admin.</th>
                <th title="Legislative actions">Leg.</th>
              </tr>
            </thead>
            <tbody>
              <% if @agency_actions.empty? %>
                <tr><td colspan='3'>No agencies found</td></tr>
              <% else %>
                <% @agency_actions.each do |agency, actions| %>
                <tr>
                  <td><a href="/agencies/<%= agency.slug %>"><%= agency.name %></a></td>
                  <td><%= actions.select(&:administrative).count %></td>
                  <td><%= actions.select(&:legislative).count %></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div><!-- /.section -->

    </div>
    <div id="bio-secondary">
      <div id="map_canvas" style="border:1px solid #000; width: 222px; height: 222px;"></div>

      <script type="text/javascript">
        $(function(){
          defineMap(new google.maps.LatLng(41.37680856570233,-84.287109375));

          <% @firm.addresses.each do |address| %>
          if (map != null)
            geocode("<%= address.full_address.gsub(/\/n/, ' ').gsub(/ /, '+') %>");
         <% end %>
        });
      </script>

      <p><strong>Address(es) on file:</strong></p>
      <% @firm.addresses.each do |address| %>
      <p><%= address.full_address_formatted %></p>
      <% end %>
    </div>
  </div>
  
  <div class="clear"></div>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
