<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
  
  <div id="bio">
    <div id="bio-header">
      <p>Lobbying firm</p>
      <h1><%= @firm.name %></h1>
    </div>
    
    <div id="bio-primary">
        <div class="section">
          <h2>2010 billing</h2>
          <p><strong class="total-paid"><%= number_to_currency @firm.total_compensation %></strong></p>
        </div><!-- /.section -->
        
        <div class="section">
          <h2>Lobbyists</h2>
          <ul>
            <% @firm.lobbyists.each do |lobbyist| %>
            <li><a href="/lobbyists/<%= lobbyist.slug %>"><%= lobbyist.full_name %></a></li>
            <% end %>
          </ul>
        </div><!-- /.section -->
        
        <div class="section">
          <h2>Clients</h2>
          <ul>
            <% if @firm.clients.empty? %>
              <li>No clients found</li>
            <% else %>
              <% @firm.clients.each do |client| %>
            <li><a href="/clients/<%= client.slug %>"><%= client.name %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div><!-- /.section -->
        
        <div class="section">
          <h2>Actions sought</h2>
          <dl>
            <% @actions.each do |purpose, actions| %>
            <dt><%= purpose %></dt>

            <% actions.group_by { |action| action.agency.name }.each do |name, actions| %>
              <dd><a href="/agencies/<%= actions.first.agency.slug %>"><%= name %></a> (<%= actions.count %>)</dd>
            <% end %>

            <% end %>
          </dl>
          <p class="mute">Current data does not allow us to learn <strong>how much each client paid to each lobbying firm or lobbyist.</strong> We expect that the city will add data to make this possible.</p>
        </div><!-- /.section -->

        <div class="section">
          <h2>Agencies from whom this firm sought actions.</h2>
          <table>
            <thead>
              <tr>
                <th>Agency</th>
                <th title="Administrative actions">Admin.</th>
                <th title="Legislative actions">Leg.</th>
              </tr>
            </thead>
            <tbody>
              <% @agency_actions.each do |agency, actions| %>
              <tr>
                <td><a href="/agencies/<%= agency.slug %>"><%= agency.name %></a></td>
                <td><%= actions.select(&:administrative).count %></td>
                <td><%= actions.select(&:legislative).count %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <p class="mute">Current data does not allow us to learn <strong>which clients requested what actions in front of which committees.</strong> We expect that the city will add data to make this possible.</p>
        </div><!-- /.section -->

    </div>
    <div id="bio-secondary">
      <div id="map_canvas" style="border:1px solid #000; width: 222px; height: 222px;"></div>

      <script type="text/javascript">
        $(function(){
          defineMap(new google.maps.LatLng(41.37680856570233,-84.287109375));

          <% @firm.addresses.each do |address| %>
          if (map != null)
            geocode("<%= address.full_address.gsub(/\/n/, ' ').gsub(/ /, '+') %>");
         <% end %>
        });
      </script>

      <p><strong>Address(es) on file:</strong></p>
      <% @firm.addresses.each do |address| %>
      <p><%= address.full_address_formatted %></p>
      <% end %>
    </div>
  </div>
  
  <div class="clear"></div>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
