<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  
  <%= cl_erb "common/stats" %>
  
  <script type="text/javascript">
    $(function(){
    	setUlBarWidthByCurrency('home-lobbyists');
    	setUlBarWidthByCurrency('home-firms');
    	setUlBarWidthByNumber('home-clients');
    	setUlBarWidthByNumber('home-agencies');
    	
        //$("a.coming_soon").click(function(e) {
        //  e.preventDefault();
        //  
        //  alert("That feature will be coming soon. Be sure to check back soon!");
        //});
    });
    
  </script>
  
  <div class="clear"></div>
  
  <div id="dashboard">
    <div class="c2l">
      <div class="section">
        <h2>Highest-paid lobbyists <a href="/lobbyists">All lobbyists &raquo;</a></h2>
        <ul class="chartlist" id="home-lobbyists">
          <% @highest_paid_lobbyists.each do |slug, name, pay| %>
            <li><a href="/lobbyists/<%= slug %>" class="coming_soon"><%= name %></a><span class="index"></span><span class="count"><%= number_to_currency(pay) %></span></li>
          <% end %>
        </ul>
      </div>
      
      <div class="section">
        <h2>Most active clients <a href="/clients">All clients &raquo;</a></h2>
        <ul class="chartlist" id="home-clients">
          <% @most_active_clients.each do |slug, name, lobbyists_used| %>
            <li><a href="/clients/<%= slug %>"><%= name %></a><span class="index"></span><span class="count"><%= lobbyists_used %></span></li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div class="c2r">
      <div class="section">
        <h2>Highest-paid lobbying firms <a href="/firms">All firms &raquo;</a></h2>
        <ul class="chartlist" id="home-firms">
          <% @highest_paid_firms.each do |name, slug, pay| %>
          <li><a href="/firms/<%= slug %>"><%= name %></a><span class="index"></span><span class="count"><%= pay %></span></li>
          <% end %>
        </ul>
      </div>
      
      <div class="section">
        <h2>Most lobbied city agencies <a href="/agencies">All agencies &raquo;</a></h2>
        <ul class="chartlist" id="home-agencies">
          <% @most_lobbied_agencies.each do |slug, name, count| %>
            <li><a href="/agencies/<%= slug %>"><%= name %></a><span class="index"></span><span class="count"><%= count %></span></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  
  <hr />
  
  <h2>About this project</h2>
  <div class="c2l about">
    <p>ChicagoLobbyists.org is intended to improve the transparency of interactions between City of Chicago agencies and lobbyists and their clients. All data comes from the City of Chicago and can be found at <a href="http://data.cityofchicago.org">data.cityofchicago.org</a>. We expect to make this application available for use with any city, county, or state.</p>
    <p>This is a project of <a href='http://twitter.com/chadwpry'>Chad</a>, <a href='http://twitter.com/patelc75'>Chirag</a>, <a href='http://twitter.com/derek_eder'>Derek</a>, <a href='http://twitter.com/rougeux'>Nick</a>, <a href='http://twitter.com/paulbaker'>Paul</a>, <a href='http://twitter.com/unruthless'>Ruthie</a>, and <a href='http://twitter.com/ryanbriones'>Ryan</a>. Paul noticed the lobbyist data, conceived the project, and got the team together. Chad and Ryan did the bulk of the backend development with help from Derek and Chirag. Derek and Ruthie did the frontend development. Nick and Paul worked on the user interface prototypes.</p>
    <p>The datasets that are currently available do not allow us to present how much each client paid to each lobbyist or lobbying firm, nor which clients requested what actions in front of which agencies. We expect that the City will add data to make this possible.</p>
    <p>If you have any comments, questions or feature suggestions, you can contact us at <a href='mailto:chi.lobbyists@gmail.com'>chi.lobbyists@gmail.com</a>.</p>
  </div>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
