<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  
  <%= cl_erb "common/stats" %>
  
  <script type="text/javascript">
    $(function(){
    	setUlBarWidthByCurrency('home-lobbyists');
    	setUlBarWidthByCurrency('home-firms');
    	setUlBarWidthByCurrency('home-clients');
    	setUlBarWidthByNumber('home-agencies');
    });
    
  </script>
  
  <div class="clear"></div>
  
  <div id="dashboard">
    <div class="c2l">
      <div class="section">
        <h2>Highest-paid lobbyists <a href="/lobbyists">All lobbyists &raquo;</a></h2>
        <ul class="chartlist" id="home-lobbyists">
          <% @highest_paid_lobbyists.each do |slug, name, pay| %>
            <li><a href="/lobbyists/<%= slug %>" class="coming_soon"><%= name %></a><span class="index"></span><span class="count"><%= number_to_currency(pay) %></span></li>
          <% end %>
        </ul>
      </div>
      
      <div class="section">
        <h2>Most active clients <a href="/clients">All clients &raquo;</a></h2>
        <ul class="chartlist" id="home-clients">
          <% @most_active_clients.each do |slug, name, pay| %>
            <li><a href="/clients/<%= slug %>"><%= name %></a><span class="index"></span><span class="count"><%= number_to_currency(pay) %></span></li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div class="c2r">
      <div class="section">
        <h2>Highest-paid lobbying firms <a href="/firms">All firms &raquo;</a></h2>
        <ul class="chartlist" id="home-firms">
          <% @highest_paid_firms.each do |firm| %>
          <li><a href="/firms/<%= firm.slug %>"><%= firm.name %></a><span class="index"></span><span class="count"><%= number_to_currency(firm.sum)  %></span></li>
          <% end %>
        </ul>
      </div>
      
      <div class="section">
        <h2>Most lobbied city agencies <a href="/agencies">All agencies &raquo;</a></h2>
        <ul class="chartlist" id="home-agencies">
          <% @most_lobbied_agencies.each do |slug, name, count| %>
            <li><a href="/agencies/<%= slug %>"><%= name %></a><span class="index"></span><span class="count"><%= count %> actions</span></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  
  <hr />
  <div class='content-secondary'>
  	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 1,
  interval: 6000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#B8E4F5',
      color: '#027ab6'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#027BB6'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'all'
  }
}).render().setUser('chilobbyists').start();
</script>
  </div>
  <h2>About this project</h2>
    <p>ChicagoLobbyists.org is an open data, open government, and open source project intended to improve the transparency of interactions between the City of Chicago and lobbyists and their clients. All data comes from the <a href="http://data.cityofchicago.org">City of Chicago Data Portal</a> and can be downloaded for free. <a href='/about'>Read more &raquo;</a></p>

<h2>Contact us</h2>
    <p>If you have any comments, questions, feature suggestions, or want to set this platform up for your city or municipality, you can email us at <a href='mailto:chi.lobbyists@gmail.com'>chi.lobbyists@gmail.com</a> or tweet us at <a href='https://twitter.com/#!/chilobbyists'>@chilobbyists</a>.</p>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
