<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <script type="text/javascript">
	    $(function(){
	      setBarWidthByCurrency();
	      $('.tabs').tabs();
	    });
  </script>
  
  <div class="clear"></div>
  
  <div id="bio">
    <div id="bio-primary">
      <h1><%= @lobbyist.full_name %> <span>(Lobbyist)</span></h1>
      <div class="c2l">
	      <ul class="stats">
	      	<li><strong><%= number_to_currency @lobbyist.total_compensation %></strong> in 2010 payments</li>
	        <li><strong>+<%= number_to_currency @lobbyist.total_expenditure %></strong> in 2010 expenses</li>
	        <li><strong><%= @lobbyist.clients.count %></strong> <%= @lobbyist.clients.count == 1 ? " client" : " clients" %></li>
	      </ul>
      </div>
      <div class="c2r">
      	<ul class="stats">
	        <li><strong><%= @agency_actions.count %></strong> government <%= @agency_actions.count == 1 ? " agency" : " agencies" %> lobbied
	        <li><strong><%= @actions.count %></strong> <%= @actions.count == 1 ? " action" : " actions" %> sought
	      	<p>
	      	  <%= @actions.select(&:administrative).count %> administrative
	          <br /><%= @actions.select(&:legislative).count %> legislative
	        </p>
	     	</li>
	     </ul>
      </div>
      
      <div class="clear"></div>
      
      <div class="tabs">
        <ul class="tab-nav">
        	<li><a href="#tab-payments">Payments <span class="mute">(<%= @lobbyist.clients.count %>)</span></a></li>
        	<% unless @actions.empty? %>
        	  <li><a href="#tab-actions">Actions <span class="mute">(<%= @actions.count %>)</span></a></li>
        	<% end %>
        	<% unless @categorized_expenditures.empty? %>
        	  <li><a href="#tab-expenses">Expenses <span class="mute">(<%= @categorized_expenditures.count %>)</span></a></li>
        	<% end %>
        	<li><a href="#tab-comments">Comments</a></li>
        </ul>
        
        <% unless @actions.empty? %>
	    <div class="tab-content" id="tab-actions">
	    <script type="text/javascript">    
		    $(function(){
		      $("#action-table").dataTable({
		        "aoColumns": [
		          null,
		          null,
		          null,
		          { "bSearchable": false, "bSortable": false },
		          { "bSearchable": false, "bSortable": false }
		        ],
		        "aaSorting": [[0, "asc"]],
		        "bFilter": true,
		        "bInfo": false,
		        "bPaginate": false
		      });
		    });
	    </script>
	    
		<h2 class="table-head">Actions sought</h2>
		  <table id="action-table" class="datatable actions">
	        <thead>
	          <tr>
	            <th class="purpose"><span>Purpose</span></th>
	            <th class="agency"><span>Agency</span></th>
	            <th class="client"><span>Client</span></th>
	            <th class="actions administrative" title="Administrative actions">Admin.</th>
	            <th class="actions legislative" title="Legislative actions">Leg.</th>
	          </tr>
	        </thead>
	        <tbody>
	          <% @actions.each do |action| %>
	          <tr>
	          	<td class="nb"><%= action.purpose %></td>
	          	<td><a href='/agencies/<%= action.agency.slug %>'><%= action.agency.name %></a></td>
	          	<td><a href='/clients/<%= action.client.slug %>'><%= action.client.name %></a></td>
	          	<td><%= action.administrative ? "Yes" : "No" %></td>
	          	<td><%= action.legislative ? "Yes" : "No" %></td>
	          </tr>
	          <% end %>
	        </tbody>
	      </table>
      	</div><!-- end tab-actions-->
      	<% end %>
      
      	<div class='tab-content' id="tab-payments">
	      <script type="text/javascript">
		    $(function(){
		      $("#payments-table").dataTable({
		        "aoColumns": [
		          null,
		          { "sType": "num-html" }
		        ],
		        "aaSorting": [[1, "desc"]],
		        "bFilter": true,
		        "bInfo": false,
		        "bPaginate": false
		      });
		    });
	      </script>
	      
	      <h2 class="table-head">Payments per client</h2>
	      <table id="payments-table" class="datatable">
	        <thead>
	          <tr>
	            <th>Client</th>
	            <th>Amount</th>
	          </tr>
	        </thead>
	        <tbody>
	        <% if @lobbyist.clients.empty? %>
	          <tr><td colspan='2'>No clients found</td></tr>
	        <% else %>
	          <% @lobbyist.clients.each do |client| %>
	            <tr>
	          	  <td class="nb"><a href="/clients/<%= client.slug %>"><%= client.name %></a></td>
	          	  <td class="bar"><span style="width:100%;"><strong><%= number_to_currency client.compensations.sum(:compensation, {:lobbyist_id => @lobbyist.id}) %></strong></span></td>
	            </tr>
	          <% end %>
	        <% end %>
	        </tbody>
	      </table>
	    </div><!-- end tab-payments-->
	    
	    <% unless @categorized_expenditures.empty? %>
	    <div class="tab-content" id="tab-expenses">
	      <script type="text/javascript">    
		    $(function(){
		      $("#expenditures-table").dataTable({
		        "aoColumns": [
		          null,
		          null,
		          { "sType": "num-html" }     
		        ],
		        "aaSorting": [[2, "desc"]],
		        "bFilter": true,
		        "bInfo": false,
		        "bPaginate": false
		      });
		    });
	      </script>
	      
	      <h2 class="table-head">Expenditures</h2>         
	      <table id="expenditures-table" class="datatable">
	        <thead>
	          <tr>
	            <th>Client</th>
	            <th>Description</th>
	            <th>Amount</th>
	          </tr>
	        </thead>
	        <tbody>
	          <% @categorized_expenditures.each do |expenditure| %>
	            <% if expenditure.office_expenses > 0 %>
	            <tr>
	          	  <td><a href="/clients/<%= expenditure.client.slug %>"><%= expenditure.client.name %></a></td>
	          	  <td class='nb'>Office expenses</td>
	          	  <td class="bar"><span style="width:100%;"><strong><%= number_to_currency expenditure.office_expenses %></strong></span></td>
	            </tr>
	            <% end %>
	            <% if expenditure.compensation_to_others > 0 %>
	            <tr>
	          	  <td><a href="/clients/<%= expenditure.client.slug %>"><%= expenditure.client.name %></a></td>
	          	  <td class='nb'>Compensation to others</td>
	          	  <td class="bar"><span style="width:100%;"><strong><%= number_to_currency expenditure.compensation_to_others %></strong></span></td>
	            </tr>
	            <% end %>
	            <% if expenditure.public_education > 0 %>
	            <tr>
	          	  <td><a href="/clients/<%= expenditure.client.slug %>"><%= expenditure.client.name %></a></td>
	          	  <td class='nb'>Public education</td>
	          	  <td class="bar"><span style="width:100%;"><strong><%= number_to_currency expenditure.public_education %></strong></span></td>
	            </tr>
	            <% end %>
	            <% if expenditure.personal_sustinance > 0 %>
	            <tr>
	          	  <td><a href="/clients/<%= expenditure.client.slug %>"><%= expenditure.client.name %></a></td>
	          	  <td class='nb'>Personal sustinance</td>
	          	  <td class="bar"><span style="width:100%;"><strong><%= number_to_currency expenditure.personal_sustinance %></strong></span></td>
	            </tr>
	            <% end %>
	            <% if expenditure.other_expenditures > 0 %>
	            <tr>
	          	  <td><a href="/clients/<%= expenditure.client.slug %>"><%= expenditure.client.name %></a></td>
	          	  <td class='nb'>Other expenditures</td>
	          	  <td class="bar"><span style="width:100%;"><strong><%= number_to_currency expenditure.other_expenditures %></strong></span></td>
	            </tr>
	            <% end %>
	          <% end %>
	        </tbody>
	      </table>
        </div><!-- end tab-expenses-->
        <% end %>
      
        <div class="tab-content" id="tab-comments">
        <div id="disqus_thread"></div>
		  <script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		    var disqus_shortname = 'chicagolobbyists'; // required: replace example with your forum shortname
		
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		  </script>
		  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        </div><!-- end tab-comment-->
      </div><!-- end tabs-->
    </div><!-- end bio-primary-->
      
     <div id="bio-secondary">
       <div id="map_canvas"></div>
        <script type="text/javascript">
          $(function(){
            defineMap(new google.maps.LatLng(41.37680856570233,-84.287109375));

            <% @lobbyist.firms.map(&:addresses).first.each do |address| %>
            if (map != null)
              geocode("<%= address.full_address.gsub(/\/n/, ' ').gsub(/ /, '+') %>");
            <% end %>
          });
        </script>
      
        <h2>Lobbying firm</h2>
        <% @lobbyist.firms.each do |firm| %>
          <p><a href="/firms/<%= firm.slug %>"><%= firm.name %></a></p>
          <p><strong>Address(es) on file:</strong></p>
          <% firm.addresses.each do |address| %>
            <p><%= address.full_address_formatted %></p>
          <% end %>
        <% end %>
  	</div><!-- end bio-secondary-->
  </div><!-- /.bio -->
  
  <div class="clear"></div>
  
  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
