<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
  
  <div id="bio">
    <div id="bio-header">
      <p>Lobbyist</p>
      <h1><%= @lobbyist.full_name %><img alt="3 out of 4 stars" src="/images/rating-3.png" /> <a href="#"><img alt="What is this" src="/images/help.png" /></a></h1>
    </div>
    
    <div id="bio-primary">
      <div class="c2l">
        <div class="section">
          <h2>2010 payments</h2>
          <p><strong class="total-paid"><%= number_to_currency @lobbyist.total_compensation %></strong></p>
        </div>
        
        <div class="section">
          <h2>Clients</h2>
          <ul>
            <% @lobbyist.clients.each do |client| %>
              <li><a href="/clients/<%= client.slug %>"><%= client.name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="c2r">
        <div class="section">
          <h2>Actions sought</h2>
          <dl>
            <dt>Industry concerns</dt>
            <dd>Office of the Mayor (5)</dd>
            
            <dt>TIF</dt>
            <dd>Budget and management (3)</dd>
            <dd>City Council (2)</dd>
            
            <dt>Procurement</dt>
            <dd>Budget and management (74)</dd>
            
            <dt>Tax Assistance</dt>
            <dd>Budget and management (6)</dd>
            <dd>City Council (12)</dd>
          </dl>
        </div>
        <div class="section">
          <h2>Agencies from whom this lobbyist sought actions</h2>
          
          <table>
            <thead>
              <tr>
                <th>Agency</th>
                <th title="Administrative actions">Admin.</th>
                <th title="Legislative actions">Leg.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="agency.html">Budget and management</a></td>
                <td>19</td>
                <td>18</td>
              </tr>
              <tr>
                <td><a href="agency.html">City Council</a></td>
                <td>28</td>
                <td>27</td>
              </tr>
              <tr>
                <td><a href="agency.html">Department of Police</a></td>
                <td>19</td>
                <td>19</td>
              </tr>
              <tr>
                <td><a href="agency.html">General Services</a></td>
                <td>26</td>
                <td>23</td>
              </tr>
              <tr>
                <td><a href="agency.html">Office of the Mayor</a></td>
                <td>28</td>
                <td>25</td>
              </tr>
              <tr>
                <td><a href="agency.html">Transportation</a></td>
                <td>28</td>
                <td>28</td>
              </tr>
              <tr>
                <td><a href="agency.html">Water Management</a></td>
                <td>24</td>
                <td>23</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="bio-secondary">
      <div class="map">
        <div class="map-overlay">
          <div class="text">Coming Soon!</div>
        </div>
        <img alt="" src="/images/map.jpg" />

        <p><strong>(N) miles</strong> from Chicago City Hall</p>
      </div>

      <h2>Lobbying firm</h2>
      <% @lobbyist.firms.each do |firm| %>
      <p>
        <a href="/firms/<%= firm.slug %>"><%= firm.name %></a>
        <p>Address not available</p>
        <p class="mute">Current data does not allow us to learn address information for firms. We expect that the city will add data to make this possible.</p>
      </p>
      <% end %>

      <p class="mute">Current data does not allow us to learn which clients requested what actions in front of which committees. We expect that the city will add data to make this possible.</p>
      
    </div><!-- /.bio-secondary -->
  </div><!-- /.bio -->
  
  <div class="clear"></div>

  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
