<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
  
  <div id="bio">
    <div id="bio-header">
      <p>Lobbyist</p>
      <h1><%= @lobbyist.full_name %></h1>
    </div>
    
    <div id="bio-primary">
        <div class="section">
          <h2>2010 payments</h2>
          <p><strong class="total-paid"><%= number_to_currency @lobbyist.total_compensation %></strong></p>
        </div>
        
        <div class="section">
          <h2>Clients</h2>
          <ul>
            <% if @lobbyist.clients.empty? %>
              <li>No clients found</li>
            <% else %>
              <% @lobbyist.clients.each do |client| %>
              <li><a href="/clients/<%= client.slug %>"><%= client.name %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="section">
          <h2>Actions sought</h2>
          <dl>
            <% @actions.each do |purpose, actions| %>
            <dt><%= purpose %></dt>

            <% actions.group_by { |action| action.agency.name }.each do |name, actions| %>
              <dd><a href="/agencies/<%= actions.first.agency.slug %>"><%= name %></a> (<%= actions.count %>)</dd>
            <% end %>

            <% end %>
          </dl>
        </div>
        <div class="section">
          <h2>Agencies</h2>
          
          <table>
            <thead>
              <tr>
                <th>Agency</th>
                <th title="Administrative actions">Admin.</th>
                <th title="Legislative actions">Leg.</th>
              </tr>
            </thead>
            <tbody>
              <% @agency_actions.each do |agency, actions| %>
              <tr>
                <td><a href="/agencies/<%= agency.slug %>"><%= agency.name %></a></td>
                <td><%= actions.select(&:administrative).count %></td>
                <td><%= actions.select(&:legislative).count %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
    </div>
    <div id="bio-secondary">
      <div class="map">
        <div class="map-overlay">
          <div class="text">Coming Soon!</div>
        </div>
        <img alt="" src="/images/map.jpg" />
      </div>

      <h2>Lobbying firm</h2>
      <% @lobbyist.firms.each do |firm| %>
        <p><a href="/firms/<%= firm.slug %>"><%= firm.name %></a></p>
        <p><strong>Address(es) on file:</strong></p>
        <% firm.addresses.each do |address| %>
          <p><%= address.full_address_formatted %></p>
        <% end %>
      <% end %>

      <p class="mute">Current data does not allow us to learn which clients requested what actions in front of which committees. We expect that the city will add data to make this possible.</p>
      
    </div><!-- /.bio-secondary -->
  </div><!-- /.bio -->
  
  <div class="clear"></div>

  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
