<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <script type="text/javascript">
    $(function(){
      setBarWidthByCurrency();

      $("#listing").dataTable({
        "aoColumns": [
          null,
          null,
          { "sSortDataType": "dom-text", "sType": "currency" }
        ],
        "aaSorting": [[2, "desc"], [0, "asc"]],
        "bFilter": false,
        "bInfo": false,
        "bPaginate": false
      });
    });
    
  </script>
  
  <div class="clear"></div>
  
  <h1>Lobbyists</h1>
  
  <table id="listing" class="listing">
    <thead>
      <tr>
        <th><span>Lobbyist</span></th>
        <th><span>Firm</span></th>
        <th><span>Amount billed in 2010</span></th>
      </tr>
    </thead>
    <tbody>
      <% @lobbyists.each do |id, slug, full_name, billed| %>
      <tr>
        <td><h3><a href="/lobbyists/<%= slug %>"><%= full_name %></a></h3></td>
        <td><a href="/firms">Adding soon...</a></td>
        <td class="bar"><span style="width:100%;"><strong><%= number_to_currency billed %></strong></span></td>
      </tr>
    <% end %>
   </tbody>
  </table>

  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
