<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
  
  <div id="bio">
    <div id="bio-header">
      <p>Lobbyist</p>
      <h1><%= @lobbyist.full_name %></h1>
    </div>
    
    <div id="bio-primary">
        <div class="section">
          <h2>2010 payments</h2>
          <p><strong class="total-paid"><%= number_to_currency @lobbyist.total_compensation %></strong></p>
        </div>
        
        <div class="section">
          <h2><%= @lobbyist.clients.count %> <%= @lobbyist.clients.count == 1 ? " client" : " clients" %></h2>
          <table>
            <thead>
              <tr>
                <th>Client</th>
                <th title="Amount paid to lobbyist by client">Amount paid</th>
              </tr>
            </thead>
            <tbody>
            <% if @lobbyist.clients.empty? %>
              <tr><td colspan='2'>No clients found</td></tr>
            <% else %>
              <% @lobbyist.clients.each do |client| %>
              <tr>
              	<td><a href="/clients/<%= client.slug %>"><%= client.name %></a></td>
              	<td><%= number_to_currency client.compensations.sum(:compensation, {:lobbyist_id => @lobbyist.id}) %></td>
              </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
          
        </div>
        <div class="section">
          <h2><%= @actions.count %> <%= @actions.count == 1 ? " action" : " actions" %> sought</h2>
          <table>
            <thead>
              <tr>
                <th>Purpose</th>
                <th>Agency</th>
                <th>Client</th>
              </tr>
            </thead>
            <tbody>
            <tbody>
            <% if @actions.empty? %>
              <tr><td colspan='3'>No actions found</td></tr>
            <% else %>
              <% @actions.each do |action| %>
              <tr>
              	<td><%= action.purpose %></td>
              	<td><a href='/agencies/<%= action.agency.slug %>'><%= action.agency.name %></a></td>
              	<td><a href='/clients/<%= action.client.slug %>'><%= action.client.name %></a></td>
              </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="section">
          <h2><%= @agency_actions.count %> government <%= @agency_actions.count == 1 ? " agency" : " agencies" %> lobbied</h2>
          <table>
            <thead>
              <tr>
                <th>Agency</th>
                <th title="Administrative actions">Admin.</th>
                <th title="Legislative actions">Leg.</th>
              </tr>
            </thead>
            <tbody>
              <% if @agency_actions.empty? %>
                <tr><td colspan='3'>No agencies found</td></tr>
              <% else %>
                <% @agency_actions.each do |agency, actions| %>
                <tr>
                  <td><a href="/agencies/<%= agency.slug %>"><%= agency.name %></a></td>
                  <td><%= actions.select(&:administrative).count %></td>
                  <td><%= actions.select(&:legislative).count %></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
        
        <div class="section">
          <h2>Categorized expenditures</h2>
          <table>
            <thead>
              <tr>
                <th>Client</th>
                <th>Office expenses</th>
                <th>Compensation to others</th>
                <th>Public education</th>
                <th>Personal sustinance</th>
                <th>Other</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% if @categorized_expenditures.empty? %>
                <tr><td colspan='7'>No expenditures found</td></tr>
              <% else %>
                <% @categorized_expenditures.each do |expenditure| %>
                <tr>
                  <td><a href="/client/<%= expenditure.client.slug %>"><%= expenditure.client.name %></a></td>
                  <td><%= number_to_currency expenditure.office_expenses %></td>
                  <td><%= number_to_currency expenditure.compensation_to_others %></td>
                  <td><%= number_to_currency expenditure.public_education %></td>
                  <td><%= number_to_currency expenditure.personal_sustinance %></td>
                  <td><%= number_to_currency expenditure.other_expenditures %></td>
                  <td><%= number_to_currency expenditure.total_expenses %></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
    </div>
    <div id="bio-secondary">
      <div id="map_canvas" style="border:1px solid #000; width: 222px; height: 222px;"></div>

      <script type="text/javascript">
        $(function(){
          defineMap(new google.maps.LatLng(41.37680856570233,-84.287109375));

          <% @lobbyist.firms.map(&:addresses).first.each do |address| %>
          if (map != null)
            geocode("<%= address.full_address.gsub(/\/n/, ' ').gsub(/ /, '+') %>");
         <% end %>
        });
      </script>

      <h2>Lobbying firm</h2>
      <% @lobbyist.firms.each do |firm| %>
        <p><a href="/firms/<%= firm.slug %>"><%= firm.name %></a></p>
        <p><strong>Address(es) on file:</strong></p>
        <% firm.addresses.each do |address| %>
          <p><%= address.full_address_formatted %></p>
        <% end %>
      <% end %>
      
    </div><!-- /.bio-secondary -->
  </div><!-- /.bio -->
  
  <div class="clear"></div>

  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
