<!-- Content -->
<div id="content">
  <%= cl_erb "common/header" %>
  <%= cl_erb "common/stats" %>
  
  <div class="clear"></div>
  
  <div id="bio">
    <div id="bio-header">
      <p>Lobbyist</p>
      <h1><%= @lobbyist.full_name %></h1>
      
      <div id="map_canvas" style="border:1px solid #000; width: 222px; height: 222px;"></div>

      <script type="text/javascript">
        $(function(){
          defineMap(new google.maps.LatLng(41.37680856570233,-84.287109375));

          <% @lobbyist.firms.map(&:addresses).first.each do |address| %>
          if (map != null)
            geocode("<%= address.full_address.gsub(/\/n/, ' ').gsub(/ /, '+') %>");
         <% end %>
        });
      </script>

      <h2>Lobbying firm</h2>
      <% @lobbyist.firms.each do |firm| %>
        <p><a href="/firms/<%= firm.slug %>"><%= firm.name %></a></p>
        <p><strong>Address(es) on file:</strong></p>
        <% firm.addresses.each do |address| %>
          <p><%= address.full_address_formatted %></p>
        <% end %>
      <% end %>
      
      <p>2010 payments: <%= number_to_currency @lobbyist.total_compensation %></p>
      <p>2010 expenditures: <%= number_to_currency @lobbyist.total_expenditure %></p>
      
      <p><%= @lobbyist.clients.count %> <%= @lobbyist.clients.count == 1 ? " client" : " clients" %></p>
      <p><%= @agency_actions.count %> government <%= @agency_actions.count == 1 ? " agency" : " agencies" %> lobbied</p>
      <p><%= @actions.count %> <%= @actions.count == 1 ? " action" : " actions" %> sought
      	<br /> - <%= @actions.select(&:administrative).count %> administrative
        <br /> - <%= @actions.select(&:legislative).count %> legislative
      </p>
    </div>
    <hr />
  
    <div class='c2l'>
	    <script type="text/javascript">    
		    $(function(){
		      $("#action-table").dataTable({
		        "aoColumns": [
		          null,
		          null,
		          null,
		          { "bSearchable": false, "bSortable": false },
		          { "bSearchable": false, "bSortable": false }          
		        ],
		        "aaSorting": [[0, "asc"], [1, "asc"]],
		        "bFilter": true,
		        "bInfo": false,
		        "bPaginate": false
		      });
		    });
	    </script>
	    
		<h2>Actions</h2>
		  <table id="action-table" class="datatable">
	        <thead>
	          <tr>
	            <th>Purpose</th>
	            <th>Agency</th>
	            <th>Client</th>
	            <th title="Administrative actions">Admin.</th>
	            <th title="Legislative actions">Leg.</th>
	          </tr>
	        </thead>
	        <tbody>
	        <% if @actions.empty? %>
	          <tr><td colspan='5'>No actions found</td></tr>
	        <% else %>
	          <% @actions.each do |action| %>
	          <tr>
	          	<td><%= action.purpose %></td>
	          	<td><a href='/agencies/<%= action.agency.slug %>'><%= action.agency.name %></a></td>
	          	<td><a href='/clients/<%= action.client.slug %>'><%= action.client.name %></a></td>
	          	<td><%= action.administrative %></td>
	          	<td><%= action.legislative %></td>
	          </tr>
	          <% end %>
	        <% end %>
	        </tbody>
	      </table>
      </div>
      
      <div class='c2r'>
	      <script type="text/javascript">    
		    $(function(){
		      $("#payments-table").dataTable({
		        "aoColumns": [
		          null,
		          { "sType": "num-html" }     
		        ],
		        "aaSorting": [[1, "desc"], [0, "asc"]],
		        "bFilter": true,
		        "bInfo": false,
		        "bPaginate": false
		      });
		    });
	      </script>
	      
	      <h2>Payments</h2>         
	      <table id="payments-table" class="datatable">
	        <thead>
	          <tr>
	            <th>Client</th>
	            <th>Amount</th>
	          </tr>
	        </thead>
	        <tbody>
	        <% if @lobbyist.clients.empty? %>
	          <tr><td colspan='2'>No clients found</td></tr>
	        <% else %>
	          <% @lobbyist.clients.each do |client| %>
	            <tr>
	          	  <td><a href="/clients/<%= client.slug %>"><%= client.name %></a></td>
	          	  <td><%= number_to_currency client.compensations.sum(:compensation, {:lobbyist_id => @lobbyist.id}) %></td>
	            </tr>
	          <% end %>
	        <% end %>
	        </tbody>
	      </table>
	      
	      <script type="text/javascript">    
		    $(function(){
		      $("#expenditures-table").dataTable({
		        "aoColumns": [
		          null,
		          null,
		          { "sType": "num-html" }     
		        ],
		        "aaSorting": [[0, "asc"], [2, "desc"]],
		        "bFilter": true,
		        "bInfo": false,
		        "bPaginate": false
		      });
		    });
	      </script>
	      
	      <% unless @categorized_expenditures.empty? %>
	      <h2>Expenditures</h2>         
	      <table id="expenditures-table" class="datatable">
	        <thead>
	          <tr>
	            <th>Client</th>
	            <th>Description</th>
	            <th>Amount</th>
	          </tr>
	        </thead>
	        <tbody>
	          <% @categorized_expenditures.each do |expenditure| %>
	            <% if expenditure.office_expenses > 0 %>
	            <tr>
	          	  <td><a href="/clients/<%= expenditure.client.slug %>"><%= expenditure.client.name %></a></td>
	          	  <td>Office expenses</td>
	          	  <td><%= number_to_currency expenditure.office_expenses %></td>
	            </tr>
	            <% end %>
	            <% if expenditure.compensation_to_others > 0 %>
	            <tr>
	          	  <td><a href="/clients/<%= expenditure.client.slug %>"><%= expenditure.client.name %></a></td>
	          	  <td>Compensation to others</td>
	          	  <td><%= number_to_currency expenditure.compensation_to_others %></td>
	            </tr>
	            <% end %>
	            <% if expenditure.public_education > 0 %>
	            <tr>
	          	  <td><a href="/clients/<%= expenditure.client.slug %>"><%= expenditure.client.name %></a></td>
	          	  <td>Public education</td>
	          	  <td><%= number_to_currency expenditure.public_education %></td>
	            </tr>
	            <% end %>
	            <% if expenditure.personal_sustinance > 0 %>
	            <tr>
	          	  <td><a href="/clients/<%= expenditure.client.slug %>"><%= expenditure.client.name %></a></td>
	          	  <td>Personal sustinance</td>
	          	  <td><%= number_to_currency expenditure.personal_sustinance %></td>
	            </tr>
	            <% end %>
	            <% if expenditure.other_expenditures > 0 %>
	            <tr>
	          	  <td><a href="/clients/<%= expenditure.client.slug %>"><%= expenditure.client.name %></a></td>
	          	  <td>Other expenditures</td>
	          	  <td><%= number_to_currency expenditure.other_expenditures %></td>
	            </tr>
	            <% end %>
	          <% end %>
	        </tbody>
	      </table>
		 <% end %>
      </div>
  </div><!-- /.bio -->
  
  <div class="clear"></div>

  <%= cl_erb "common/footer" %>
</div>
<!-- /Content -->
