<div id="nav">
  <div id="nav-content">
    <ul>
      <li class="<%= current_menu_class("home") %>"><a href="/">Home</a></li>
      <li class="<%= current_menu_class("about") %>"><a href="/about">About</a></li>
      <li class="<%= current_menu_class("lobbyists") %>"><a href="/lobbyists">Lobbyists</a></li>
      <li class="<%= current_menu_class("agencies") %>"><a href="/agencies">Agencies</a></li>
      <li class="<%= current_menu_class("clients") %>"><a href="/clients">Clients</a></li>
      <li class="<%= current_menu_class("firms") %>"><a href="/firms">Firms</a></li>
    </ul>
  </div>
</div>
